footer {
	background-color: #333;
	color: #fff;
	padding: 45px 0;
	position: relative;
	.stripes {
		position: absolute;
		top: 0;
		left: 0;
		height: 8px;
		width: 100%;
		display: block;
		& > div {
			display: inline-block;
			float: left;
			width: 20%;
			height: 8px;
			background-color: #555;
			box-shadow: 0 4px 8px rgba(0,0,0,0.1), 0 1px rgba(0,0,0,0.1) inset;
			&:nth-of-type(1) {
				background-color: $purple;
			}
			&:nth-of-type(2) {
				background-color: $red;
			}
			&:nth-of-type(3) {
				background-color: $beige;
			}
			&:nth-of-type(4) {
				background-color: $grey;
			}
			&:nth-of-type(5) {
				background-color: $blue;
			}
		}
	}
	h5 {
		border-bottom: 1px solid rgba(250,250,250,0.1);
		a, a:hover {
			color: #fff;
		}
	}
	ul {
		list-style-type: none;
		li {
			margin-bottom: 3px;
		}
		a {
			display: block;
			color: rgba(250,250,250,0.7);
			&:hover {
				color: #fff;
			}
		}
	}
	.muted {
		color: rgba(250,250,250,0.4);
		a {
			color: rgba(250,250,250,0.4);
		 	&:hover {
				color: rgba(250,250,250,0.7);
			}
		}
	}
}