.hero.n-therapy {
	h1 {
		font-size: 3.4rem;
		margin:0 0 15px 0;
	}
	.parallax-background {
		background-image:url("../images/location/4.jpg");
	}
}

.icon-image {
	width:100%;
	max-width: 80px;
	margin-bottom: 1em;
	opacity: 0.4;
	@media (min-width: 769px) {
		display: inline-block;
		margin-bottom: 2em;
		& + h4 {
			display: inline-block;
			line-height: 80px;
			margin:0;
		}
	}
}