---
title: About Us
---

<div class="title">
	<div class="container">
		<h1>About Us</h1>
	</div>
</div>

<div class="container">
	<div class="row padding-xl">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<p class="margin-none">
				Here you can find info about the specialists we have at our facility. Follow one of the links below to read their full profiles.
			</p>
		</div>
	</div>
</div>

<div class="u-additional border top">
	<div class="row">
		<div class="col-xs-12 col-sm-4">
		  <% link_to 'johncox.html' do %>
		    <h5>William J. Johncox</h5>
		    <p>D.C., P.A.-C</p>
		  <% end %>
		</div>
		<div class="col-xs-12 col-sm-4">
		  <% link_to 'salazar.html' do %>
		    <h5>Robert G. Salazar</h5>
		    <p> M.D.</p>
		  <% end %>
		</div>
		<div class="col-xs-12 col-sm-4">
		  <% link_to 'our-facilities.html' do %>
		    <h5>Our Facilities</h5>
		    <p>About our Location</p>
		  <% end %>
		</div>
	</div>
</div>