---
title: About Us
---

<div class="title">
	<div class="container">
		<h1>About Us</h1>
	</div>
</div>

<div class="container">
	<div class="row padding-xl">
		<div class="col-xs-12 col-md-8">
			<p>
				In 1993, my office occupied a ten foot by twelve foot space. I had one administrative employee. Billing was outsourced as well as transcription. Currently, we occupy a 12,000 sq. foot building which includes a 4,000 sq. foot surgical center (exclusively dedicated to interventional pain procedures). An informational technology consultant actively transitions all aspects of our computer systems to the highest levels in our office Billing and transcription are now "in-house". We have approximately forty employees including the surgical center staff.
			</p>
			<p>
				It takes team endeavor to produce at the intensity required for our patient service-oriented practice. My practice is privileged to have a staff that present with a high level of work ethic, due diligence, compassion, and dedication to excellent patient services in an optimistic and gracious atmosphere.
			</p>
			<p class="margin-none">
				Here you may find info. about the specialists we have at our facility. Follow one of the links below to read their full profiles.
			</p>
		</div>
	</div>
</div>

<div class="u-additional border top">
	<h2>Additional Information &amp; Profiles</h2>
	<div class="row">
		<div class="col-xs-12 col-sm-4">
		  <% link_to 'our-facilities.html' do %>
		    <h5>Our Facilities</h5>
		    <p>About our Location</p>
		  <% end %>
		</div>
		<div class="col-xs-12 col-sm-4">
		  <% link_to 'salazar.html' do %>
		    <h5>Robert G. Salazar</h5>
		    <p>M.D.</p>
		  <% end %>
		</div>
		<div class="col-xs-12 col-sm-4">
		  <% link_to 'johncox.html' do %>
		    <h5>William J. Johncox</h5>
		    <p>D.C., P.A.-C</p>
		  <% end %>
		</div>
	</div>
</div>