---
title: Disclaimer
---

<div class="title">
	<div class="container">
		<h1>Disclaimer</h1>
	</div>
</div>

<div class="container">
	<div class="row padding-xl">
		<div class="col-xs-12">
			<p class="margin-none">
				Information and referring links provided on this website are general in content and should NOT be seen as substitute for professional medical advice. Questions or concerns over any medical conditions should be discussed with your Primary Care Provider or Pain Care Specialist.
			</p>
		</div>
	</div>
</div>

<div class="u-additional border top">
	<h2>Additional Links</h2>
	<div class="row">
		<div class="col-xs-12 col-sm-4">
		  <% link_to 'pain-management.html' do %>
		    <h5>Pain Management</h5>
		    <p>More about Our Therapy and What We Do</p>
		  <% end %>
		</div>
		<div class="col-xs-12 col-sm-4">
		  <% link_to 'about.html' do %>
		    <h5>About</h5>
		    <p>See Our Specialist's Backgrounds</p> 
		  <% end %>
		</div>
		<div class="col-xs-12 col-sm-4">
		  <% link_to 'our-facilities.html' do %>
		    <h5>Our Facilties</h5>
		    <p>Our Location</p>
		  <% end %>
		</div>
	</div>
</div>