---
title: Interventional Treatment
---

<div class="title">
	<div class="container">
		<h1>Interventional Treatment</h1>
	</div>
</div>

<div class="u-block u-black padding-md">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8">
	      <p>
	      	The following procedures are performed at the Comprehensive Pain Management Center by Dr. Salazar. Dr. Salazar does not perform "in-office" treatment.
	      </p>
	      <p class="margin-none">
	      	No injections of analgesics are available in the office.
	      </p>
	    </div>
	  </div>
	</div>
</div>

<div class="container">
	<div class="row padding-md">
		<div class="col-xs-12 col-md-6">
      <div class="u-well">
        <h5>Invasive Modalities (injections)</h5>
        <div class="row">
        	<div class="col-xs-12 col-md-6">
        		<ul class="no-style">
      				<li>Atlanto-axial</li>
      				<li>Atlanto-occipital</li>
      				<li>Caudal epidural steroid</li>
      				<li>Cervical discography</li>
      				<li>Cervical medial branch</li>
      				<li>Cervical radiofrequency lesion</li>
      				<li>Cervical therapeutic facets</li>
      				<li>Cervical transforaminal epidural steroid</li>
      				<li>Cervical translaminar epidural steroid</li>
      				<li>First dorsal compartment</li>
      				<li>Genitofemoral</li>
      				<li>Greater occipital nerve</li>
      				<li>Greater trochanteric bursa</li>
      				<li>Ilioinguinal nerve</li>
      				<li>Implantation and revisions of intrathecal drug delivery systems</li>
      				<li>Implantation and revisions of spinal cord stimulation systems</li>
      				<li>Intercostal nerve</li>
      				<li>Intra-articular hip and shoulder</li>
      				<li>Intrathecal trial, baclofen and opioid</li>
      				<li>iOvera knee treatment</li>
      				<li>Lateral femoral cutaneous nerve</li>
      				<li>Levator scapular nerve</li>      				
        		</ul>
        	</div>
        	<div class="col-xs-12 col-md-6">
        		<ul class="no-style">  
        			<li>Lumbar discography</li>
        			<li>Lumbar medial branch</li>      	
        			<li>Lumbar radiofrequency lesion</li>
        			<li>Lumbar sympathetic ganglion</li>
        			<li>Lumbar therapeutic facet</li>
        			<li>Lumbar transforaminal epidural steroid</li>
        			<li>Lumbar translaminar epidural steroid</li>
        			<li>Median nerve</li>
        			<li>Peripheral nerves</li>
        			<li>Piriformis muscle</li>
        			<li>Rhomboid muscles</li>
        			<li>Sacroiliac joint</li>
        			<li>Sacroiliac radiofrequency lesion</li>
        			<li>Stellate ganglion</li>
        			<li>Suprascapular nerve</li>
        			<li>Symphysis pubis</li>
        			<li>Thoracic therapeutic facet</li>
        			<li>Thoracic translaminar epidural steroid</li>
        			<li>Transsacral</li>
        		</ul>
        	</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="u-well">
				<h5><i class="fa fa-close"></i> Procedures we do not perform:</h5>
        <ul class="no-style">
        	<li>IDET (intradiscal electrothermal annuloplasty)</li>
        	<li>MILD (minimally invasive lumbar decompression)</li>
        	<li>Vertebral augmentation</li>
        	<li>Vertebroplasty</li>
        	<li>Kyphoplasty</li>
        	<li>Celiac plexus neurolysis</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="u-additional">
	<h2>Additional Links</h2>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
		  <% link_to 'pharmacological-management.html' do %>
		    <h5>Pharmacological Management</h5>
		    <p>Pharmacological Solutions</p>
		  <% end %>
		</div>
		<div class="col-xs-12 col-sm-6">
		  <% link_to 'neuromodulation-therapy.html' do %>
		    <h5>Neuromodulation Therapy</h5>
		    <p>Intrathecal Drug Delivery Device</p>
		  <% end %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
	  if ($("#js-parallax-window").length) {
	    parallax();
	  }
	});

	$(window).scroll(function(e) {
	  if ($("#js-parallax-window").length) {
	    parallax();
	  }
	});

	function parallax(){
	  if( $("#js-parallax-window").length > 0 ) {
	    var plxBackground = $("#js-parallax-background");
	    var plxWindow = $("#js-parallax-window");

	    var plxWindowTopToPageTop = $(plxWindow).offset().top;
	    var windowTopToPageTop = $(window).scrollTop();
	    var plxWindowTopToWindowTop = plxWindowTopToPageTop - windowTopToPageTop;

	    var plxBackgroundTopToPageTop = $(plxBackground).offset().top;
	    var windowInnerHeight = window.innerHeight;
	    var plxBackgroundTopToWindowTop = plxBackgroundTopToPageTop - windowTopToPageTop;
	    var plxBackgroundTopToWindowBottom = windowInnerHeight - plxBackgroundTopToWindowTop;
	    var plxSpeed = 0.5;

	    plxBackground.css('top', - (plxWindowTopToWindowTop * plxSpeed) + 'px');
	  }
	}

	(function (jQuery) {
	  jQuery.mark = {
	    jump: function (options) {
	      var defaults = {
	        selector: 'a.scroll-on-page-link'
	      };
	      if (typeof options == 'string') {
	        defaults.selector = options;
	      }

	      options = jQuery.extend(defaults, options);
	      return jQuery(options.selector).click(function (e) {
	        var jumpobj = jQuery(this);
	        var target = jumpobj.attr('href');
	        var thespeed = 1000;
	        var offset = jQuery(target).offset().top;
	        jQuery('html,body').animate({
	          scrollTop: offset
	        }, thespeed, 'swing');
	        e.preventDefault();
	      });
	    }
	  };
	})(jQuery);


	jQuery(function(){  
	  jQuery.mark.jump();
	});
</script>