---
title: Pain Management
---

<div class="title">
	<div class="container">
		<h1>Pain Management</h1>
	</div>
</div>

<div class="container">
	<div class="row padding-lg">
		<div class="col-xs-12">
			<h5>An Introduction by John J. Bonica on the Historical Perspectives of Pain:</h5>
			<p class="u-quote">
				Pain has been a major concern of humankind since its beginning and the subject of ubiquitous efforts to understand and control it. It is likely that the relief of pain was the primary reason for the advent of the Shaman, healer, and later the physician and even today it remains one of the most important raisons d’être of all health professionals. Although symptomatic pain has the important biological function of indicating to the patient that something is wrong and often prompts him or her to seek medical counsel, certain types of acute pain and all forms of chronic pain are deleterious to the organism. (Research Publications: Association for Research in Nervous and Mental Disease 1)...
			</p>
			<%= link_to 'Continue Reading', 'pain-management-continued.html'%>
			<div class="u-text-center">
				<h5>
					Work Cited
				</h5>
					Research Publications: Association for Research in Nervous and Mental Disease. Edited. John<br>
					J. Bonica, M.D., D.Sc. “Pain.” Vol. 58. New York: Raven, 1981. Print.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="u-additional">
	<h2>Our Methods for Pain Management:</h2>
	<div class="row">
		<div class="col-xs-12 col-sm-4">
		  <% link_to 'interventional-treatment.html' do %>
		    <h5>Interventional Treatment</h5>
		    <p>Modalities/Injections</p> 
		  <% end %>
		</div>
		<div class="col-xs-12 col-sm-4">
		  <% link_to 'pharmacological-management.html' do %>
		    <h5>Pharmacological Management</h5>
		    <p>Pharmacological Solutions</p>
		  <% end %>
		</div>
		<div class="col-xs-12 col-sm-4">
		  <% link_to 'neuromodulation-therapy.html' do %>
		    <h5>Neuromodulation Therapy</h5>
		    <p>Intrathecal drug delivery device</p>
		  <% end %>
		</div>
	</div>
</div>