---
title: How to become a Patient
---

<div class="title">
	<div class="container">
		<h1>How to Become a Patient</h1>
	</div>
</div>

<div class="container">
  <div class="row padding-xl">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h5 class="sans">In Network Insurances:</h5>
      <div class="u-well">
        <ul class="no-style">
          <li>Aetna</li>
          <li>Anthem Blue Cross of California/Blue Cross Prudent Buyer </li>
          <li>Cigna</li>
          <li>First Health</li>
          <li>Galaxy Health Network (Sante)</li>
          <li>GEHA</li>
          <li>Great-West</li>
          <li>HealthSmart PPO/ EPO -Sante (formerly Interplan)</li>
          <li>Humana</li>
          <li>Key Medical Foundation</li>
          <li>Medicare</li>
          <li>Multiplan/PHCS</li>
          <li>Sante</li>
          <li>United Healthcare</li>
          <li>U.S. Department of Labor</li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
      <h5>Introduction &amp; Referra</h5>
      <p>
        Your initial evaluation will include a thorough history and physical examination.
      </p>
      <p>
        Performing a complete and through evaluation of your pain condition is our primary concern therefore we require you to be referred by your medical provider who is familiar with your pain condition. This facilitates obtaining results and documentation of previous medical information pertaining to your condition prior and the opportunity for Dr. Salazar to review the results of submitted records prior to scheduling your appointment.
      </p>
      <p>
        Once your referral is reviewed and appointment is scheduled we will mail the appropriate forms for completion. Your initial evaluation will include a thorough examination and history taking at which time Dr. Salazar may order additional studies to identify the cause of your pain and recommend a treatment plan
      </p>
      <p>
        Dr. Salazar may recommend additional diagnostic testing. A decision will be made regarding long-term pharmalogical management.
      </p>
      <h5>Health Insurance Plans</h5>
      <p>
        For insurances not listed. Please refer to your insurance manual to verify if we are participating.
      </p>
      <p>
        Dr. Salazar is not a provider for Medi-Cal. For those with Medicare as a primary insurance and Medi-Cal as their secondary, referrals will be reviewed and taken in consideration on a case by case basis.
      <p>
        We do not accept any liens, motor vehicle accidents/personal injury and/or third party claims.
      </p>
    </div>
	</div>
</div>

<div class="u-block u-beige padding-xl">
  <div class="container"> 
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h5 class="margin-sm">Dr. Salazar is fully committed to his patients and expects complete cooperation in his efforts to restore wellness.</h5>
        <p>
          The California State Medical Board's position is: "No pathology, no prescription."
          Follow the link below to learn more about our standards and ethics.
        </p>
        <%= link_to 'Our Standards', 'standards-and-ethics.html', :class=>'button button-primary-red u-text-center' %>
      </div>
    </div>
  </div>
</div>

<div class="u-block u-blue padding-sm">
  <div class="container"> 
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h5 class="margin-none">"I will never tell you, there isn’t anything I can do for you."</h5>
      </div>
    </div>
  </div>
</div>
<div class="u-block u-black padding-lg">
  <div class="container"> 
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-1">
        <p>
          We do not hesitate to refer to tertiary care university settings for further evaluation and treatment.
        </p>
        <p>
          Aside is a list of physician resources available.
        </p>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-1">
        <h5>Out-of-Region Physician Resource</h5>
        <li>University of California San Francisco</li>
        <li>Cedars-Sinai Medical Center</li>
        <li>Stanford University Medical Center </li>
        <li>University of California, Davis Medical Center</li>
        <li>University of California, Los Angeles Medical Center</li>
        <li>University of California, San Diego Medical Center</li>
        <li>University of California, San Francisco Medical Center</li>
      </div>
    </div>
  </div>
</div>

<div class="u-additional">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <% link_to 'interventional-treatment.html' do %>
        <h5>Interventional Treatment</h5>
        <p>Modalities/Injections</p> 
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <% link_to 'pharmacological-management.html' do %>
        <h5>Pharmacological Management</h5>
        <p>Pharmacological Solutions</p>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <% link_to 'neuromodulation-therapy.html' do %>
        <h5>Neuromodulation Therapy</h5>
        <p>Intrathecal Drug Delivery Devices</p>
      <% end %>
    </div>
  </div>
</div>