---
title: Robert G. Salazar M.D.
---

<div class="title">
	<div class="container">
		<h1>Robert G. Salazar, M.D.</h1>
	</div>
</div>

<div class="container">
	<div class="row padding-xl scroll-on-page">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<aside id="scroll-on-page-top">
				<h4>Contents:</h4>
			  <a class="scroll-on-page-link" href="#scroll-link-1">Biographical Information</a>
			  <a class="scroll-on-page-link" href="#scroll-link-2">Education</a>
			  <a class="scroll-on-page-link" href="#scroll-link-3">Certification</a>
			  <a class="scroll-on-page-link" href="#scroll-link-4">Teaching</a>
			  <a class="scroll-on-page-link" href="#scroll-link-5">Intramural</a>
			  <a class="scroll-on-page-link" href="#scroll-link-6">Professional Activities</a>
			  <a class="scroll-on-page-link" href="#scroll-link-7">Bibliography</a>
			  <a class="scroll-on-page-link" href="#scroll-link-8">Misc.</a>
			</aside>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
		  <article>
		    <section>
		      <h4 id="scroll-link-1">Biographical Information</h4>
		      <p>
		      	Dr. Salazar was born and raised in Corcoran, California. He is the sixth of eight children born in a Spanish-speaking farmworker family. This instilled work ethic at an early age. He graduated from Stanford with a degree in Human Biology and received his Doctorate of Medicine from the University of Southern California in 1979.
		      </p>
		      <p>
		      	The following year, Dr. Salazar completed an internship at Los Angeles County – USC Medical Center in Internal Medicine. Between 1980 and 1982, he completed a residency in Anesthesiology at the University of California, San Francisco . Dr. Salazar then accepted one of five fellowship positions offered by the Virginia Mason Clinic (Seattle, Washington) in 1982. He completed his additional training in regional anesthesia/pain in 1982.
		      </p>
		      <p>
		      	He returned to the University of California San Francisco in 1982 , accepting the position of Clinical Director of the primordial pain clinic. He remained Assistant Clinical Professor of Anesthesia until 1987 when he moved to Tucson, Arizona. Dr. Salazar was in private practice as an anesthesiologist in a busy Level I trauma center until 1993. During that time, he also was involved in two outpatient pain clinics. Sister Ruth Marie Nickerson (past CEO of Saint Agnes Hospital) recruited Dr. Salazar back to the San Joaquin Valley in 1993. He established the Saint Agnes Pain Clinic and spearheaded pain management innovations at Saint Agnes. 
		      </p>
		      <p>
		      	In 2000, Dr. Salazar , Dr. Clague, Dr. Williams and Dr. Kalamkarian built a 12,000 sq. foot building at 7152 N. Sharon Avenue, which included a 4,000 sq. foot state of the art outpatient Medicare-certified surgical center. Dr. Salazar is currently the major owner. In 2011, Dr. Kalamkarian “retired”, and Dr. Salazar acquired his large established practice. Currently, Dr. Salazar has approximately 20,000 patient contacts per year and his practice continues to grow.
		      </p>

    			<!-- <p>
    				Dr. Salazar was born and raised in Corcoran California. He is one of eight children born into a Spanish-speaking household with farm worker roots.  He learned the value of hard work at early age. After completing his training (which included a fellowship in interventional pain) he joined the faculty at U.C.S.F. for four years as the clinic director of an embryonic pain clinic. Dr. Salazar spent the next eight years in Tucson Arizona administering operating room anesthesia and involved in two out-patient pain centers.  Sister Ruth Marie Nickerson, (CEO of Saint Agnes Hospital) invited Dr. Salazar to return to his home in the San Joaquin Valley in 1993 to start a pain clinic affiliated with Saint Agnes.
     			</p>
     			<p>
    				In 2000 Robert Salazar, M.D., Brian Clague, M.D., Berj Kalamkarian, M.D., and Fred Williams, M.D., joined forces and built a 12,000 square foot building dedicated to pain management. It included a 4,000 square foot state of the art two room outpatient surgical center. In 2011 Dr. Salazar acquired Dr. Kalamkarian’s pain practice. William J. Johncox, D.C., P.A.-C joined Dr. Salazar in 2011 along with the acquisition.
    			</p>
    			<p class="margin-none">
    				Dr. Salazar is currently the Medical Director of Comprehensive Pain Management Center.  He is committed in helping patients improve the quality of their daily activities by integrating a multi-disciplinary approach to pain management to include pharmacological management, intervention including principled experience in neuromodulation therapies. Dr. Salazar enjoys spending time with his family, traveling and classic Western movies.
    			</p> -->
		    </section>
		    <section>
		      <h4 id="scroll-link-2">Education</h4>
		      <p>
		      	Robert G. Salazar, M.D. was the second Mexican-American high school senior to receive the coveted Col. J. G. Boswell scholarship. This propelled him to Stanford where he received a bachelor's degree in 1975.
		      </p>
		      <ul>
		      	<li>B.A., Stanford University, Palo Alto, California 1975</li>
		      	<li>M.D., University of Southern California, Los Angeles,California  1979</li>
		      	<li>Internship, Medicine, Los Angeles County Medical Center, Los Angeles, California  1979-1980</li>
		      	<li>Residency, Anesthesia, University of California, San Francisco   1980-1982</li>
		      	<li>Fellowship, Regional Anesthesia, Virginia Mason Clinic, Seattle, Washington 1982-1983</li>
		      </ul>
		    </section>
		    <section>
		      <h4 id="scroll-link-3">Cerification</h4>
		      <ul>
		      	<li>Diplomate, American Board of Anesthesiology Diplomate, 1985</li>
		    		<li>American Academy of Pain Management 1986</li>
		      </ul>
		      <h6 class="sans">Licensure:</h6>
		      <p>
		      	California
		      </p>
		    </section>

		    <section>
		      <h4 id="scroll-link-4">Teaching</h4>
		      <p>
		      	University of California, San Francisco
		      </p>
		      <h6 class="sans">
		      	Approx 1,400 per:
		      </h6>
		      <table>
		      	<tr>
		      		<td>Anesthesia 110</td>
		      		<td>Clinical Clerkship in Anesthesia</td>
		      	</tr>
		      	<tr>
		      		<td>Anesthesia 140.01</td>
		      		<td>Clinical Anesthesia Elective</td>
		      	</tr>
		      	<tr>
		      		<td>Anesthesia 178</td>
		      		<td>Anesthesiology</td>
		      	</tr>
		      	<tr>
		      		<td>Anesthesia 400</td>
		      		<td>Anesthesia Staff Conference</td>
		      	</tr>
		      	<tr>
		      		<td>Anesthesia 450</td>
		      		<td>Anesthesia Clinical Work</td>
		      	</tr>
		      </table>
	      	<ol class="number-style">
	      	<li>Two full days per week teaching clinical anesthesia. On-call teaching related to emergencies approximately for weeknights and one weekend per 1.5 months. All clinical anesthesia is administered by postdoctoral trainees; therefore, all faculty clinical activities in the operating room involve one-on-one teaching.</li>
	      	<li>Weekly participation in departmental Morbidity and Mortality Conference and research conferences.
	      	<li>Lectures for first-and second-year residents’ seminar in anesthesia.</li>
	      	<li>Supervision and instructional research fellow in pain management: David Irwin, M.D. 1985-1986</li>
	      	<li>Pain Clinic director, chief responsibility for all inpatient and outpatient consultations regarding acute or chronic pain, requiring two days per week clinical duty.</li>
	      	<li>Instructor in Advance Cardiopulmonary Resuscitation.</li>
	      	<li>Instructor in Basic Cardiopulmonary Resuscitation.</li>
	      	<li>One of three anesthesia faculty responsible for Moffit-Long operating room schedule.</li>
	      	</ol>
		      
		      <h5 class="sans">University and public service:</h5>
	      	<p>University of California Positions:<br>University of California, San Francisco Assistant Clinical Professor 1983-1986</p>
		    </section>

		    <section>
		      <h4 id="scroll-link-5">Intramural</h4>
		      <ul>
		      	<li>Department of Anesthesia, Promotions Committee School of Medicine, 1985-1986</li>
		      	<li>Clinical Faculty Management Committee 1984-1985</li>
		      	<li>MoffittI / Long Hospitals 1984-1995</li>
		      	<li>Operating Room Surgery Committee 1985-1986</li>
		      	<li>Regional AnesthesiaJPain Rotation Subcommittee Epidural Morphine Committee 1985-1986</li>
		      </ul>
		    </section>

		    <section>
		      <h4 id="scroll-link-6">Professional Activities</h4>
		      <h5 class="sans">Post Universal Professional Activity:</h5>
		      <ul>
		      	<li>Anesthesiologist and Pain Consultant, Old Pueblo Anesthesia, Tucson, Arizona 11/86 – 11/93</li>
		      	<li>Anesthesiologist and Pain Consultant, General Partner, Anesthesia Consultants of Fresno, Fresno, California 11/93 – 06/07</li>
		      	<li>Director, St. Agnes Medical Center Pain Management Center, Fresno, California 11/93 – 12/98</li>
		      	<li>Medical Director, Comprehensive Pain Management Center, Fresno, California 2001 - Present</li>
		      	<li>Qualified Medical Examiner State of California 2001 - Present</li>
		      	<li>Agreed Medical Examiner State of California 2001 - Present</li>
		      	<li>Independent Medical Examiner State of California 2006 – Present</li>
		      </ul>
		      <h5 class="sans">Professional Activites</h5>
		      <h6 class="sans">Professional Societies:</h6>
		      <ul>
		      	<li>American Society of Anesthesiologists International Association for the Study of Pain American Academy of Pain Management</li>
		      </ul>
		    </section>

		    <section>
		      <h4 id="scroll-link-7">Bibliography</h4>
		      <h6 class="sans">Book Chapter:</h6>
		      <ol class="number-style">
		      	<li>Salazar, R.G. Anesthesia, Handbook of Surgery eighth edition Schrock, T.R. ed. Greenbrae, CA: Jones Medical Publications, 1984, pp 121-139.</li>
		      </ol>
		    </section>
		    <section>
		      <h4 id="scroll-link-8">Misc.</h4>
		      <ol class="number-style">
		      	<li>Salazar, R.G. Comparative Evaluation of Varying Degrees of Hypobaric Tetracaine in Total Hip Arthroplasties (not published).</li>
		      	<li>Salazar, R.G. Celiac Plexus Alcohol Block for Upper Abdominal Cancer Pain West J. Med, pp 140-141, Epitomes in Anesthesia.</li>
		      	<li>Salazar, R.G: Severe Hemorrhage After Extracorporeal Shock-Wave Lithotripsy Annals of Internal Medicine, vol. 111 :612-613, 1989.</li>
		      </ol>
		      <a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
		    </section>
		  </article>
		</div>
	</div>
</div>

<div class="u-additional">
	<h2>Additional Profiles &amp; Information</h2>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
		  <% link_to 'johncox.html' do %>
		    <h5>William J. Johncox</h5>
		    <p>D.C., P.A.-C</p>
		  <% end %>
		</div>
		<div class="col-xs-12 col-sm-6">
		  <% link_to 'our-facilities.html' do %>
		    <h5>Our Facilities</h5>
		    <p>About our Location</p>
		  <% end %>
		</div>
	</div>
</div>

<script type="text/javascript">
	(function (jQuery) {
	  jQuery.mark = {
	    jump: function (options) {
	      var defaults = {
	        selector: 'a.scroll-on-page-link'
	      };
	      if (typeof options == 'string') {
	        defaults.selector = options;
	      }

	      options = jQuery.extend(defaults, options);
	      return jQuery(options.selector).click(function (e) {
	        var jumpobj = jQuery(this);
	        var target = jumpobj.attr('href');
	        var thespeed = 1000;
	        var offset = jQuery(target).offset().top;
	        jQuery('html,body').animate({
	          scrollTop: offset
	        }, thespeed, 'swing');
	        e.preventDefault();
	      });
	    }
	  };
	})(jQuery);


	jQuery(function(){  
	  jQuery.mark.jump();
	});
</script>