---
title: Standards &amp; Ethics
---

<div class="title">
	<div class="container">
		<h1>Standards &amp; Ethics</h1>
	</div>
</div>

<div class="padding-md">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<%= image_tag 'icons/large/blood.png', :class=>'icon-image u-mobile-block-center' %>
				<h4 class="u-mobile-center">Our Foundation for Pain Management</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<p>
					Dr. Salazar has gained a reputation as a premium provider that leads by example in the best practices for his patients.
				</p>
				<p>
					If we do not periodically drug screen our patient population, we would be inconsistent with our Pain Management philosophy. As a condition of being a Department of Drug Enforcement (DEA) registrant, a physician who prescribes controlled substances has an obligation to take reasonable measures to prevent abuse and diversion by exercising an appropriate degree of medical supervision.
				</p>
				<p>
					Each physician must properly determine that there is a legitimate medical purpose for the patient to be prescribed a controlled substance while ensuring an effective treatment plan for each patient. 
				</p>
				<p>
					Therefore, we take multiple steps to meet the medical supervision requirement of opioid therapy, including but not limited to, use of opioid agreements, random urine drug analysis, blood serum analysis or buccal swab analysis, and routinely run Drug Monitoring Prescription Program (PDMP) reports on our patients.
				</p>
				<p>
				 Click the link below to find out more information about PDMP.<br>
				 <a class="button margin-sm" target="_blank" href="http://www.deadiversion.usdoj.gov/faq/rx_monitor.htm">Learn More</a>
			</div>
			<div class="col-xs-12 col-md-4">
				<h5>Pain management options:</h5>
				<div class="u-well">
				  <ul class="no-style">
				    <li><%= link_to 'Neuromodulation Therapy', 'neuromodulation-therapy.html' %></li>
            <li><%= link_to 'Example 1', 'example.html' %></li>
            <li><%= link_to 'Example 2', 'example.html' %></li>
				  </ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="u-additional">
	<h2>Additional Links</h2>
	<div class="row">
		<div class="col-xs-12 col-sm-4">
		  <% link_to 'our-facilities.html' do %>
		    <h5>Our Facilities</h5>
		    <p>About our location</p>
		  <% end %>
		</div>
		<div class="col-xs-12 col-sm-4">
		  <% link_to 'about.html' do %>
		    <h5>About</h5>
		    <p>See our Specialists backgrounds.</p> 
		  <% end %>
		</div>
		<div class="col-xs-12 col-sm-4">
		  <% link_to 'patient-info.html' do %>
		    <h5>Patient Info</h5>
		    <p>Become a patient.</p>
		  <% end %>
		</div>
	</div>
</div>