---
title: Standards &amp; Ethics
---

<div class="title">
	<div class="container">
		<h1>Standards &amp; Ethics</h1>
	</div>
</div>

<div class="padding-md">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<%= image_tag 'icons/large/blood.png', :class=>'icon-image u-mobile-block-center' %>
				<h4 class="u-mobile-center">Our Foundation for Pain Management</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<p>
					Dr. Salazar has gained a reputation as premier provider that leads by example in the "best practice" approach to his patients.
				</p>
				<p>
					Pain management is under close scrutiny by federal and state regulatory agencies. Strict adherence to national practice standards must be followed. As a result he periodically randomly drug screens his patient population.
				</p>
				<p>	
					As a condition of being a Department of Drug Enforcement Agency (DEA) registrant Dr. Salazar is obliged to take reasonable measures to prevent abuse and diversion when prescribing controlled substances. Physicians in California must properly establish a legitimate medical purpose prior to prescribing controlled substances.
				<p>
					Therefore multiple steps must be taken to comply with appropriate medical supervision requirements of opioid therapy. These include but not limited to: use of opioid agreements, random urine drug analysis, blood serum analysis or buccal swab analysis, and routinely run prescribing reports from the Prescription Drug Monitoring Program (PDMP) on our patients.
				</p>
				<p>Clink link below to find out more about the DEA policies including PDMP.
					<br>
					<a class="button margin-sm" target="_blank" href="http://www.dea.gov/index.shtml">Learn More</a>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="u-additional">
	<h2>Additional Links</h2>
	<div class="row">
		<div class="col-xs-12 col-sm-4">
		  <% link_to 'our-facilities.html' do %>
		    <h5>Our Facilities</h5>
		    <p>About our location</p>
		  <% end %>
		</div>
		<div class="col-xs-12 col-sm-4">
		  <% link_to 'about.html' do %>
		    <h5>About</h5>
		    <p>See our Specialists backgrounds.</p> 
		  <% end %>
		</div>
		<div class="col-xs-12 col-sm-4">
		  <% link_to 'patient-info.html' do %>
		    <h5>Patient Info</h5>
		    <p>How to become a patient.</p>
		  <% end %>
		</div>
	</div>
</div>