$parallax-window-height: 30em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.parallax-static-content {
  padding: 5em 0;
  position: relative;
  z-index: 9;
}

.parallax-background {
  background-image: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
  background-position: top;
  background-size: 100%;
  background-color: beige;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

// Based on http://codepen.io/skeurentjes/

#map_canvas {
  height: 220px;
  width: 100%;
  @media (min-width:768px) {
    height: 320px;
  }
}

#map_canvas img { 
  max-width: none; // to prevent UI control bug
}

#map_canvas .content {
  padding: 0 0.5em 1em 0.5em;
}

#map_canvas .firstHeading {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  margin: 0;
}

#map_canvas #bodyContent p {
  font-size: 1em;
  margin: 0;
}

.stats {
  $base-spacing: 1.5em !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $action-color: #477dca !default;
  $stats-color: lighten($action-color, 10%);

  margin-top: -1.2rem;

  ul {
    padding: 0;
  }

  li {
    border-right: 1px solid transparentize($base-font-color, 0.6);
    display: inline;
    float: left;
    padding: 0 1.2em;
    color: $base-font-color;
    font-size: 1.2rem;
    font-weight: normal;

    &:first-child {
      padding-left: 0;
      span {
        background: $blue;
      }
    }

    &:last-child {
      border-right: 0;
      span {
        background: $red;
      }
    }
  }

  span {
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    line-height: 1.1em;
    display: block;
    color: #fff;
    padding: 0.2em;
    border-radius: 3px;
    margin-top: 0.4em;
  }
}

.scroll-on-page {
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;

  display: inline-block;

  a {
    color: $action-color;
    text-decoration: none;
  }

  .scroll-on-page-link {
    border-bottom: 1px solid transparentize($action-color, 0.8);
    display: block;
    margin-right: $base-spacing;
    outline: none;
    padding: ($base-spacing / 2) 0;

    &:last-child {
      margin-bottom: $base-spacing;
    }
  }

  article {
    section:first-of-type h4 {
      margin-top: 0;
    }
    h4 {
      margin: 2em 0 0.6em 0;
      padding-bottom: 0.4rem;
      border-bottom: 5px solid $blue;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
    }

    section p:last-of-type {
      margin-bottom: 2em; 
    }
  }
}

// Based on code by http://codepen.io/xmark/
